<h1 class="mt-5" >Hello</h1>
<p >check-maha-rera works!</p>



























<!-- <p-table [value]="documents" [paginator]="true" [rows]="5" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Sr No</th>
            <th>Subject</th>
            <th>Date</th>
            <th>Document</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-doc let-i="rowIndex">
        <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ doc.subject }}</td>
            <td>
                <p-calendar [(ngModel)]="doc.date" dateFormat="dd/mm/yy"></p-calendar>
            </td>
            <td>
                <p-fileUpload mode="basic" chooseLabel="Upload" (onUpload)="onUpload($event, doc)" [customUpload]="true"></p-fileUpload>
                <p *ngIf="doc.uploadedFile">{{ doc.uploadedFile.name }}</p>
            </td>
        </tr>
    </ng-template>
</p-table> -->
