<div class="container-fluid ">
  <div class="row">
      <div class="col-12">
          <div class="pt-5 my-5">
              <div class="card   shadow border-0 p-3">
                  <p-stepper [value]="1" class="basis-[50rem]">
                      <p-step-list>
                          <p-step [value]="1">Property Details</p-step>
                          <p-step [value]="2">Locality Details</p-step>
                          <p-step [value]="3">Rent Details</p-step>
                          <p-step [value]="4">Registration Fee </p-step>
                       
                      </p-step-list>
                      <p-step-panels>
                          <!-- Property Details Start -->
                          <p-step-panel [value]="1">
                              <ng-template #content let-activateCallback="activateCallback">
                                  <form action="">
                                      <div class="row ">
                                          <div class="col-12">
                                              <div>
                                                  <label for="propertyType" class="my-2">Apartment Type </label>
                                                  <p-select [options]="propertyType" [checkmark]="true"
                                                      [showClear]="true" placeholder="Select a Property Type"
                                                      class="w-full md:w-56" />
                                              </div>
                                          </div>
                                         
                                          <div class="col-12">
                                              <div>
                                                  <label for="BhkType" class="my-2">BHK Type </label>
                                                  <p-select [options]="BhkType" [checkmark]="true"
                                                      [showClear]="true" placeholder="Select a Bhk Type"
                                                      class="w-full md:w-56" />
                                              </div>
                                          </div>
                                          <div class="col-12">
                                              <div>
                                                  <label for="totalarea" class="my-2">Property Size
                                                  </label>
                                                  <input pInputText id="totalarea" class="w-100" placeholder="Total Area (sq. ft./sq. m.)"/>
                                              </div>
                                          </div>
                                          <div class="col-12">
                                              <div>
                                                  <label for="Facing" class="my-2">Facing </label>
                                                  <p-select [options]="Facing" [checkmark]="true"
                                                      [showClear]="true" placeholder="Select a Direction"
                                                      class="w-full md:w-56" />
                                              </div>
                                          </div>
                                          <div class="col-12">
                                              <div>
                                                  <label for="PropertyAge" class="my-2">Property Age </label>
                                                  <p-select [options]="PropertyAge" [checkmark]="true"
                                                      [showClear]="true" placeholder="Select Property Age"
                                                      class="w-full md:w-56" />
                                              </div>
                                          </div>
                                          <div class="col-12 d-flex gap-3 align-items-end">
                                            <!-- Floors Dropdown -->
                                            <div class="col-6">
                                                <div>
                                                    <label for="floors" class="my-2">Floors</label>
                                                    <p-select [options]="floorOptions" [checkmark]="true" [showClear]="true"
                                                        placeholder="Select Floors" class="w-full" />
                                                </div>
                                            </div>
                                        
                                            <!-- Total Floors Dropdown -->
                                            <div class="col-6">
                                                <div>
                                                    <label for="totalFloors" class="my-2">Total Floors</label>
                                                    <p-select [options]="floorOptions" [checkmark]="true" [showClear]="true"
                                                        placeholder="Select Total Floors" class="w-full" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                          <div class="flex   justify-content-end">
                                              <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                                  (onClick)="activateCallback(2)" />
                                          </div>
                                      </div>
                                  </form>
                              </ng-template>
                          </p-step-panel>
                          <!-- Property Details End -->

                          <!-- Locality Details Start -->
                          <p-step-panel [value]="2">
                              <ng-template #content let-activateCallback="activateCallback">
                                  <form action="">
                                      <div class="row ">
                                        <div class="col-12">
                                            <div>
                                                <label for="totalarea" class="my-2">Locality
                                                </label>
                                                <input pInputText id="totalarea" class="w-100" placeholder="enter Locality"/>
                                            </div>
                                        </div>
                                         
                                        <div class="col-12">
                                            <div>
                                                <label for="totalarea" class="my-2">pincode
                                                </label>
                                                <input pInputText id="totalarea" class="w-100" placeholder="Enter pincode"/>
                                            </div>
                                        </div>
                                          <div class="col-12">
                                              <div>
                                                  <label for="totalarea" class="my-2">Street/Area/Landmark
                                                  </label>
                                                  <input pInputText id="totalarea" class="w-100" placeholder="Enter Street/Area/Landmark"/>
                                              </div>
                                          </div>
                                          
                                         
                                        

                                           <div class="flex pt-6 justify-content-end">
                                      <p-button label="Back" severity="secondary" icon="pi pi-arrow-left"
                                          (onClick)="activateCallback(1)" />
                                      <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                          (onClick)="activateCallback(3)" />
                                  </div>
                                      </div>
                                  </form>
                              </ng-template>
                          </p-step-panel>
                          <!-- Locality Details End -->



                          <!-- Document upload Start -->
                          <!-- <p-step-panel [value]="2">
                              <ng-template #content let-activateCallback="activateCallback">
                                  <form action="">
                                      <div class="row ">
                                          <div class="col-4">
                                              <div>
                                                  <label for="propertyType" class="my-2">Property Deed </label>
                                                  <p-toast />
                                                  <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                      chooseIcon="pi pi-upload" name="demo[]"
                                                      url="https://www.primefaces.org/cdn/api/upload.php"
                                                      accept="image/*" maxFileSize="1000000"
                                                      (onUpload)="onUpload($event)" />
                                              </div>
                                          </div>
                                          <div class="col-4">
                                              <div>
                                                  <label for="propertyType" class="my-2">Previous Sale Agreement (if
                                                      applicable) </label>
                                                  <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                      chooseIcon="pi pi-upload" name="demo[]"
                                                      url="https://www.primefaces.org/cdn/api/upload.php"
                                                      accept="image/*" maxFileSize="1000000"
                                                      (onUpload)="onUpload($event)" />
                                              </div>
                                          </div>
                                          <div class="col-4">
                                              <div>
                                                  <label for="propertyType" class="my-2">Tax Receipts (last 3 years)
                                                  </label>
                                                  <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                      chooseIcon="pi pi-upload" name="demo[]"
                                                      url="https://www.primefaces.org/cdn/api/upload.php"
                                                      accept="image/*" maxFileSize="1000000"
                                                      (onUpload)="onUpload($event)" />
                                              </div>
                                          </div>
                                          <div class="col-4">
                                              <div>
                                                  <label for="propertyType" class="my-2">Encumbrance Certificate
                                                  </label>
                                                  <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                      chooseIcon="pi pi-upload" name="demo[]"
                                                      url="https://www.primefaces.org/cdn/api/upload.php"
                                                      accept="image/*" maxFileSize="1000000"
                                                      (onUpload)="onUpload($event)" />
                                              </div>
                                          </div>
                                          <div class="col-4">
                                              <div>
                                                  <label for="identificationnumber" class="my-2">Address Proof
                                                  </label>
                                                  <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                      chooseIcon="pi pi-upload" name="demo[]"
                                                      url="https://www.primefaces.org/cdn/api/upload.php"
                                                      accept="image/*" maxFileSize="1000000"
                                                      (onUpload)="onUpload($event)" />
                                              </div>
                                          </div>
                                          <div class="col-4">
                                              <div>
                                                  <label for="totalarea" class="my-2"> NOC (if required) </label>
                                                  <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                      chooseIcon="pi pi-upload" name="demo[]"
                                                      url="https://www.primefaces.org/cdn/api/upload.php"
                                                      accept="image/*" maxFileSize="1000000"
                                                      (onUpload)="onUpload($event)" />
                                              </div>
                                          </div>
                                          <div class="col-4">
                                              <div>
                                                  <label for="ownershipType" class="my-2"> Identity Type </label>
                                                  <p-select [options]="identityType" [checkmark]="true"
                                                      [showClear]="true" placeholder="Select a Identity Type"
                                                      class="w-full md:w-56" />
                                              </div>
                                          </div>
                                          <div class="col-4">
                                              <div>
                                                  <label for="identity" class="my-2"> Identity Proof </label>
                                                  <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                      chooseIcon="pi pi-upload" name="demo[]"
                                                      url="https://www.primefaces.org/cdn/api/upload.php"
                                                      accept="image/*" maxFileSize="1000000"
                                                      (onUpload)="onUpload($event)" />
                                              </div>
                                          </div>

                                      </div>
                                  </form>

                                  <div class="flex pt-6 justify-content-end">
                                      <p-button label="Back" severity="secondary" icon="pi pi-arrow-left"
                                          (onClick)="activateCallback(1)" />
                                      <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                          (onClick)="activateCallback(3)" />
                                  </div>
                              </ng-template>
                          </p-step-panel>
                          -->
                          <!-- Document uplaod end -->




                          <p-step-panels>
                            <!-- Property Details Start -->
                            <p-step-panel [value]="3">
                                <ng-template #content let-activateCallback="activateCallback">
                                    <form action="">
                                        <div class="row">        
                                      <!-- Rent Type Radio Buttons -->
                                            <div class="col-12 mb-3">
                                                <h5 class="my-2 fw-bold">Select Rent Type</h5>
                                                <div class="d-flex gap-4">
                                                    <p-radioButton name="rentType" value="rent" [(ngModel)]="rentType" inputId="Only Rent"
                                                    ></p-radioButton>
                                                    <label for="ingredient1" class="ml-2">Only rent</label>
                                                    </div>
                                                    <div class="d-flex gap-4">
                                                    <p-radioButton name="rentType" value="lease" [(ngModel)]="rentType" inputId="Only Lease"></p-radioButton>
                                                    <label for="ingredient1" class="ml-2">Only lease</label>
                                                    </div>
                                            </div>
                        
                                            <!-- Expected Rent Fields -->
                                            <div class="col-12  align-items-end">
                                                <div class="col-12">
                                                    <label for="expectedRent" class="my-2">Expected Rent</label>
                                                    <input pInputText id="expectedRent" class="w-full" placeholder="Enter Amount" />
                                                </div>
                                                <div class="col-12">
                                                    <label for="rentDuration" class="my-2">Per</label>
                                                    <p-select [options]="rentDurationOptions" [checkmark]="true" [showClear]="true"
                                                        placeholder="Select Duration" class="w-full" />
                                                </div>
                                            </div>
                        
                                            <!-- Negotiable Checkbox -->
                                            <!-- <div class="col-12 mt-2">
                                                <p-checkbox [(ngModel)]="isNegotiable" inputId="negotiable"></p-checkbox>
                                                <label for="negotiable" class="ml-2">Negotiable</label>
                                            </div> -->

                                            

                                            <!-- <div class="card">
                                              <form class="flex items-center gap-1" [formGroup]="formGroup">
                                                  <p-checkbox formControlName="city" value="New York" inputId="ny" />
                                                  <label for="ny" class="ml-2">New York</label>
                                              </form>
                                          </div> -->








                                            <!-- Expected Deposit Field -->
                                            <div class="col-12  align-items-end">
                                            <div class="col-12 ">
                                                <label for="expectedDeposit" class="my-2">Expected Deposit</label>
                                                <input pInputText id="expectedDeposit" class="w-full" placeholder="Enter Deposit Amount" />
                                            </div>
                        
                                            <!-- Floors & Total Floors -->
                                            <div class="justify-content-center d-flex mt-3">
                                                <div class="col-6 ">
                                                    <label for="floors" class="my-2">Floors</label>
                                                    <p-select [options]="floorOptions" [checkmark]="true" [showClear]="true"
                                                        placeholder="Select Floors" class="w-full" />
                                                </div>
                                                <div class="col-6 ">
                                                    <label for="totalFloors" class="my-2">Total Floors</label>
                                                    <p-select [options]="floorOptions" [checkmark]="true" [showClear]="true"
                                                        placeholder="Select Total Floors" class="w-full" />
                                                </div>
                                            </div>


                                           







                                            </div>









                                            <div class="col-12  align-items-end">
                                            <div class="col-12">
                                              <div>
                                                  <label for="MonthlyMaintenance" class="my-2">Monthly Maintenance </label>
                                                  <p-select [options]="MonthlyMaintenance" [checkmark]="true"
                                                      [showClear]="true" placeholder="Select"
                                                      class="w-full md:w-56" />
                                              </div>
                                          </div>
                                            </div>


                                            <div class="col-12  align-items-end ">
                                            <div class="col-12 ">
                                              <p-datepicker   class="w-full" [(ngModel)]="date" dateFormat="dd.mm.yy"
                                               />
                                          </div>
                                            </div>



                                            <div class="col-12  align-items-end">
                                              <div class="col-12">
                                                <div>
                                                    <label for="Furnishing" class="my-2">Furnishing </label>
                                                    <p-select [options]="Furnishing" [checkmark]="true"
                                                        [showClear]="true" placeholder="Select Furnishing type"
                                                        class="w-full md:w-56" />
                                                </div>
                                            </div>
                                              </div>
                                            <div class="col-12  align-items-end">
                                              <div class="col-12">
                                                <div>
                                                    <label for="Parking" class="my-2">Parking </label>
                                                    <p-select [options]="Parking" [checkmark]="true"
                                                        [showClear]="true" placeholder="Select Parking type"
                                                        class="w-full md:w-56" />
                                                </div>
                                            </div>
                                              </div>
                                            <div class="col-12  align-items-end">
                                              <div class="col-12">
                                                <div>
                                                    <label for="PreferedTenants" class="my-2">Prefered Tenants </label>
                                                    <p-select [options]="PreferedTenants" [checkmark]="true"
                                                        [showClear]="true" placeholder="Select The type of tenant"
                                                        class="w-full md:w-56" />
                                                </div>
                                            </div>
                                              </div>
  


                                              <div class="col-12  align-items-end">
                                                <div class="col-12 ">
                                                    <label for="expectedDeposit" class="my-2 ">Property Description</label>
                                                    <input pInputText id="expectedDeposit" class="w-full p-5" placeholder="write a few lines about the property" />
                                                </div>
                                              </div>

                                          
                                        </div>
                                    </form>




                                    <div class="flex pt-6 justify-content-end">
                                      <p-button label="Back" severity="secondary" icon="pi pi-arrow-left"
                                          (onClick)="activateCallback(2)" />
                                      <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                          (onClick)="activateCallback(4)" />
                                  </div>
                                </ng-template>
                            </p-step-panel>
                        </p-step-panels>
                        









                          <!-- Registration Fee -->
                          <p-step-panel [value]="4">
                              <ng-template #content let-activateCallback="activateCallback">
                                  <div class="row">
                                      <div class="col-12">
                                          <div class="card border-0 shadow p-4">
                                              <form>
                                                  <div class="row">
                                                      <div class="col-12">
                                                          <div class="px-5">
                                                              <strong>Razor</strong><span>Pay</span>
                                                          </div>
                                                      </div>
                                                      <div class="col-7">
                                                          <div class="row">
                                                              <div class="col-12">
                                                                  <div>
                                                                      <label for="" class="fw-bold">Card
                                                                          Number</label>
                                                                      <p class="text-muted"> <small> Enter 16-digit
                                                                              card number on the card</small></p>
                                                                      <p-inputgroup>
                                                                          <p-inputgroup-addon><i
                                                                                  class="fa-brands fa-cc-mastercard text-dark"></i></p-inputgroup-addon>
                                                                          <p-inputnumber placeholder="Card Number" />
                                                                          <p-inputgroup-addon><i
                                                                                  class="fa-solid fa-circle-check text-dark"></i></p-inputgroup-addon>
                                                                      </p-inputgroup>
                                                                  </div>
                                                              </div>
                                                              <div class="col-12">
                                                                  <div class="d-flex justify-content-between">
                                                                      <div>
                                                                          <label for="" class="fw-bold">Expiry
                                                                              Date</label>
                                                                          <p class="text-muted"> <small> Enter the
                                                                                  expiration date of the card</small>
                                                                          </p>
                                                                      </div>
                                                                      <div>
                                                                          <!-- <p-datepicker view="month"
                                                                              dateFormat="mm/yyyy"
                                                                              [readonlyInput]="true" /> -->
                                                                              <p-inputgroup>
                                                                                  <p-inputgroup-addon><i
                                                                                          class="fa-brands fa-cc-mastercard text-dark"></i></p-inputgroup-addon>
                                                                                  <p-inputnumber
                                                                                      placeholder="MM/YYYY" />
                                                                                  <p-inputgroup-addon><i class="fa-solid fa-calendar-days text-dark"></i></p-inputgroup-addon>
                                                                              </p-inputgroup>

                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-12">
                                                                  <div class="d-flex justify-content-between">
                                                                      <div>
                                                                          <label for="" class="fw-bold">CVC
                                                                              Number</label>
                                                                          <p class="text-muted"> <small> Enter card
                                                                                  verification code from the back of
                                                                                  the card</small></p>
                                                                      </div>
                                                                      <div class="">
                                                                          <p-password [toggleMask]="true"
                                                                              [feedback]="false" />

                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-12">
                                                                  <div class="d-flex justify-content-between">
                                                                      <div>
                                                                          <label for="" class="fw-bold">Cardholder
                                                                              Name
                                                                          </label>
                                                                          <p class="text-muted"> <small> Enter
                                                                                  cardholder's name</small></p>
                                                                      </div>
                                                                      <div>
                                                                          <p-inputgroup>
                                                                              <p-inputgroup-addon><i
                                                                                      class="fa-brands fa-cc-mastercard text-dark"></i></p-inputgroup-addon>
                                                                              <p-inputnumber
                                                                                  placeholder="CardHolder Name" />
                                                                              <p-inputgroup-addon><i
                                                                                      class="fa-solid fa-user text-dark"></i></p-inputgroup-addon>
                                                                          </p-inputgroup>

                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-12">
                                                                  <div class="d-flex justify-content-between">
                                                                      <div>
                                                                          <label for="" class="fw-bold">Mobile
                                                                              No.</label>
                                                                          <p class="text-muted"> <small> Enter Mobile
                                                                                  No.</small></p>
                                                                      </div>
                                                                      <div>
                                                                          <p-inputgroup>
                                                                              <p-inputgroup-addon><i
                                                                                      class="fa-solid fa-mobile-screen-button text-dark"></i></p-inputgroup-addon>
                                                                              <p-inputnumber
                                                                                  placeholder="Mobile Number" />
                                                                              <p-inputgroup-addon><i
                                                                                      class="fa-solid fa-phone-flip text-dark"></i></p-inputgroup-addon>
                                                                          </p-inputgroup>

                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-12">
                                                                  <div class=" text-center mt-4">
                                                                      <p-button label="Pay Now" severity="info"
                                                                          class="mx-5 " />
                                                                  </div>

                                                              </div>
                                                          </div>

                                                      </div>
                                                      <div class="col-5">
                                                             <div class="bg-light rounded-4 p-5">
                                                                   <div class="row">
                                                                      <div class="col-12">
                                                                          <div class="text-center">
                                                                              <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/debit-card-2133848-1796833.png?f=webp&w=256" alt="Debit card image" class="h-5- w-50">
                                                                          </div>
                                                                      </div>
                                                                      <div class="col-12">
                                                                          <div class="d-flex justify-content-between mx-5">
                                                                              <p>Company</p>
                                                                              <strong>Apple</strong>
                                                  
                                                                          </div>
                                                                      </div>
                                                                      <div class="col-12">
                                                                          <div class="d-flex justify-content-between mx-5">
                                                                              <p>Order number</p>
                                                                              <strong>429252965</strong>
                                                  
                                                                          </div>
                                                                      </div>
                                                                      <div class="col-12">
                                                                          <div class="d-flex justify-content-between mx-5">
                                                                              <p>Product</p>
                                                                              <strong>MacBook Air</strong>
                                                  
                                                                          </div>
                                                                      </div>
                                                                      <div class="col-12">
                                                                          <div class="d-flex justify-content-between mx-5">
                                                                              <p>VAT (20%)</p>
                                                                              <strong>$100.00</strong>
                                                  
                                                                          </div>
                                                                      </div>
                                                                      <div class="col-12">
                                                                          <hr class="border border-dark border-2 opacity-50">
                                                                      </div>
                                                                      <div class="col-12">
                                                                          <div class="d-flex justify-content-between mx-5">
                                                                              <small>You have to Pay</small>
                                                                              <h3 class="fw-bold">Rs.549</h3>
                                                                          </div>

                                                                      </div>
                                                                      
                                                                   </div>
                                                             </div>
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="flex pt-6 justify-start">
                                      <p-button label="Back" icon="pi pi-arrow-left" iconPos="right"
                                          (onClick)="activateCallback(2)" />
                                  </div>
                              </ng-template>
                          </p-step-panel>
                      </p-step-panels>
                  </p-stepper>
              </div>
          </div>
      </div>
  </div>
</div>
