<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'" />

   <div class="surface-card p-4 shadow-2 border-round w-auto mt-4">
    <!-- Welcome Section -->
    <div class="text-center mb-3">
      <img src="https://img1.wsimg.com/isteam/ip/957d1ef6-9f8d-4653-a4c2-121d6b896ba7/blob.png/:/rs=w:203,h:100,cg:true,m/cr=w:203,h:100/qt=q:95" alt="Image" height="50px" class="mb-1 mt-6">
      <div class="text-900 text-3xl font-medium mb-2">Log-In</div>
      <div class="d-flex justify-content-center">
        <p class="text-600 font-medium line-height-3">Don't have an account?</p>
      <a class="font-medium underline ml-2 text-blue-500 cursor-pointer" routerLink="/register">Sign-up Now!</a>
      </div>
    </div>
  
    <!-- Centered Form Section -->
    <div class="flex flex-column align-items-center">
      <form  [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <!-- mobile number Input -->
      <div class="w-full sm:w-30rem">
        <label for="mobile1" class="block text-900 font-medium mb-1">Moblie number</label>
        <input  formControlName="mobile"
          id="mobile1"
          type="text"
          placeholder="Enter your mobile number"
          pInputText
          class="w-full mb-3 contact-input"
        />
      </div>
     
      <!-- Password Input -->
      <div class="w-full sm:w-30rem position-relative">
        <label for="password1" class="block text-900 font-medium mb-2">Password</label>
        <div class="relative">
        <input  formControlName="password"
          id="password1"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          pInputText
          class="w-full mb-3 contact-input pr-4"
        />
        <i
        class="pi"
        [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
        (click)="togglePasswordVisibility()"
        class="absolute  right-0 pr-2 cursor-pointer"
        style="transform: translateY(-50%); top:40%"
      ></i>
        </div>
      </div>
  
      <!-- Remember Me and Forgot Password -->
      <div class="w-full sm:w-30rem flex align-items-center justify-content-between mb-6 ">
        <div class="flex align-items-center">
          <p-checkbox id="rememberme" [binary]="true" styleClass="mr-2"></p-checkbox>
          <label for="rememberme1">Remember me</label>
        </div>
        <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
      </div>
  
      <!-- Sign In Button -->
      <div class="w-full sm:w-20rem mb-4 mx-auto">
        <button
          pButton
          pRipple
          class="w-full"
          style="background-color: #feb900; color: black; border: none;"> Sign In <i class="pi pi-sign-out"></i></button>
        <!-- <a routerLink="/customer/dashboard">Login</a> -->
      </div>
    </form>
    </div>

  