
.contact-area {
    border-bottom: 1px solid black;
  }
  
  .contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
  }
  
  .contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
  }
  
  .contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .contact-content span {
    color: #353c47;
    margin: 0 10px;
  }
  
  .contact-social {
    margin-top: 30px;
  }
  
  .contact-social>ul {
    display: inline-flex;
  }
  
  .contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
  }
  
  .contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
  }
  
  .contact-content img {
    max-width: 210px;
  }
  
  section,
  footer {
    background: #1A1E25;
    color: #868c96;
  }
  
  footer p {
    padding: 40px 0;
    text-align: center;
  }
  
  footer img {
    width: 44px;
  }



  /* Download Button CSS */
  .store a {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    font-weight: 400;
    font-size: 12px;
  }
  
  .store a i {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  
  .store a:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  .store a::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 50px;
    left: -200px;
    top: 50%;
    transform: translateY(-50%) skewX(-25deg);
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.14), transparent);
    transition: left 0.8s ease;
  }
  
  .store a:hover::after {
    left: 200px;
  }
  
  @keyframes shine {
    to {
      left: 200px;
    }
  }
  
  .fixed-needhelp-button {
    position: fixed;
    bottom: 40px; /* Adjust this value to move it up or down */
    right: 20px; /* Adjust this value to move it left or right */
    z-index: 1000; /* Ensure it stays above other elements */
}

.fixed-needhelp-button .btn{
  background-color: #FAB702;
  color: black;
  border: none;
}
  
  