<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="mt-5 text-center">
                <h2 class="fw-bold mt-5">Register Your Property</h2>
            </div>
        </div>
        <div class="col-12">
            <div class="pt-3">
                <div class="card d-flex justify-content-center  shadow border-0 p-3 mb-3">
                    <p-stepper [value]="1" class="basis-[50rem]">
                        <p-step-list>
                            <p-step [value]="1">Property Details</p-step>
                            <p-step [value]="2">Document Uploads</p-step>
                            <p-step [value]="3">Registration Fee </p-step>
                        </p-step-list>
                        <p-step-panels>
                            <!-- Property Details Start -->
                            <p-step-panel [value]="1">
                                <ng-template #content let-activateCallback="activateCallback">
                                    <form action="">
                                        <div class="row ">
                                            <div class="col-4">
                                                <div>
                                                    <label for="propertyType" class="my-2">Property Type </label>
                                                    <p-select [options]="propertyType" [checkmark]="true"
                                                        [showClear]="true" placeholder="Select a Property Type"
                                                        class="w-full md:w-56" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="propertyType" class="my-2">Property Type </label>
                                                    <p-select [options]="propertyType" [checkmark]="true"
                                                        [showClear]="true" placeholder="Select a Property Type"
                                                        class="w-full md:w-56" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="propertyType" class="my-2">Property Type </label>
                                                    <p-select [options]="propertyType" [checkmark]="true"
                                                        [showClear]="true" placeholder="Select a Property Type"
                                                        class="w-full md:w-56" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="propertyType" class="my-2">Property Type </label>
                                                    <p-select [options]="propertyType" [checkmark]="true"
                                                        [showClear]="true" placeholder="Select a Property Type"
                                                        class="w-full md:w-56" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="identificationnumber" class="my-2">Identification Number
                                                    </label>
                                                    <input pInputText id="identificationnumber" class="w-100" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="totalarea" class="my-2">Total Area (sq. ft./sq. m.)
                                                    </label>
                                                    <input pInputText id="totalarea" class="w-100" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="price" class="my-2">Property Value (INR) </label>
                                                    <input pInputText id="price" class="w-100" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="ownershipType" class="my-2">Ownership Type </label>
                                                    <p-select [options]="ownerShipType" [checkmark]="true"
                                                        [showClear]="true" placeholder="Select a Ownership Type"
                                                        class="w-full md:w-56" />
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div>
                                                    <label for="propertyAddress" class="my-2">Property Address </label>
                                                    <textarea rows="5" cols="30" pTextarea [autoResize]="true"
                                                        class="w-100"></textarea>

                                                </div>
                                            </div>

                                            <div class="flex   justify-content-end">
                                                <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                                    (onClick)="activateCallback(2)" />
                                            </div>
                                        </div>
                                    </form>
                                </ng-template>
                            </p-step-panel>
                            <!-- Property Details End -->
                            <!-- Document upload Start -->
                            <p-step-panel [value]="2">
                                <ng-template #content let-activateCallback="activateCallback">
                                    <form action="">
                                        <div class="row ">
                                            <div class="col-4">
                                                <div>
                                                    <label for="propertyType" class="my-2">Property Deed </label>
                                                    <p-toast />
                                                    <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                        chooseIcon="pi pi-upload" name="demo[]"
                                                        url="https://www.primefaces.org/cdn/api/upload.php"
                                                        accept="image/*" maxFileSize="1000000"
                                                        (onUpload)="onUpload($event)" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="propertyType" class="my-2">Previous Sale Agreement (if
                                                        applicable) </label>
                                                    <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                        chooseIcon="pi pi-upload" name="demo[]"
                                                        url="https://www.primefaces.org/cdn/api/upload.php"
                                                        accept="image/*" maxFileSize="1000000"
                                                        (onUpload)="onUpload($event)" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="propertyType" class="my-2">Tax Receipts (last 3 years)
                                                    </label>
                                                    <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                        chooseIcon="pi pi-upload" name="demo[]"
                                                        url="https://www.primefaces.org/cdn/api/upload.php"
                                                        accept="image/*" maxFileSize="1000000"
                                                        (onUpload)="onUpload($event)" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="propertyType" class="my-2">Encumbrance Certificate
                                                    </label>
                                                    <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                        chooseIcon="pi pi-upload" name="demo[]"
                                                        url="https://www.primefaces.org/cdn/api/upload.php"
                                                        accept="image/*" maxFileSize="1000000"
                                                        (onUpload)="onUpload($event)" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="identificationnumber" class="my-2">Address Proof
                                                    </label>
                                                    <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                        chooseIcon="pi pi-upload" name="demo[]"
                                                        url="https://www.primefaces.org/cdn/api/upload.php"
                                                        accept="image/*" maxFileSize="1000000"
                                                        (onUpload)="onUpload($event)" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="totalarea" class="my-2"> NOC (if required) </label>
                                                    <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                        chooseIcon="pi pi-upload" name="demo[]"
                                                        url="https://www.primefaces.org/cdn/api/upload.php"
                                                        accept="image/*" maxFileSize="1000000"
                                                        (onUpload)="onUpload($event)" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="ownershipType" class="my-2"> Identity Type </label>
                                                    <p-select [options]="identityType" [checkmark]="true"
                                                        [showClear]="true" placeholder="Select a Identity Type"
                                                        class="w-full md:w-56" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <label for="identity" class="my-2"> Identity Proof </label>
                                                    <p-fileupload #fu mode="basic" chooseLabel="Choose"
                                                        chooseIcon="pi pi-upload" name="demo[]"
                                                        url="https://www.primefaces.org/cdn/api/upload.php"
                                                        accept="image/*" maxFileSize="1000000"
                                                        (onUpload)="onUpload($event)" />
                                                </div>
                                            </div>

                                        </div>
                                    </form>

                                    <div class="flex pt-6 justify-content-end">
                                        <p-button label="Back" severity="secondary" icon="pi pi-arrow-left"
                                            (onClick)="activateCallback(1)" />
                                        <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                            (onClick)="activateCallback(3)" />
                                    </div>
                                </ng-template>
                            </p-step-panel>
                            <!-- Document uplaod end -->
                            <!-- Registration Fee -->
                            <p-step-panel [value]="3">
                                <ng-template #content let-activateCallback="activateCallback">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card border-0 shadow p-4">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="px-5">
                                                                <strong>Razor</strong><span>Pay</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-7">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div>
                                                                        <label for="" class="fw-bold">Card
                                                                            Number</label>
                                                                        <p class="text-muted"> <small> Enter 16-digit
                                                                                card number on the card</small></p>
                                                                        <p-inputgroup>
                                                                            <p-inputgroup-addon><i
                                                                                    class="fa-brands fa-cc-mastercard text-dark"></i></p-inputgroup-addon>
                                                                            <p-inputnumber placeholder="Card Number" />
                                                                            <p-inputgroup-addon><i
                                                                                    class="fa-solid fa-circle-check text-dark"></i></p-inputgroup-addon>
                                                                        </p-inputgroup>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="d-flex justify-content-between">
                                                                        <div>
                                                                            <label for="" class="fw-bold">Expiry
                                                                                Date</label>
                                                                            <p class="text-muted"> <small> Enter the
                                                                                    expiration date of the card</small>
                                                                            </p>
                                                                        </div>
                                                                        <div>
                                                                            <!-- <p-datepicker view="month"
                                                                                dateFormat="mm/yyyy"
                                                                                [readonlyInput]="true" /> -->
                                                                                <p-inputgroup>
                                                                                    <p-inputgroup-addon><i
                                                                                            class="fa-brands fa-cc-mastercard text-dark"></i></p-inputgroup-addon>
                                                                                    <p-inputnumber
                                                                                        placeholder="MM/YYYY" />
                                                                                    <p-inputgroup-addon><i class="fa-solid fa-calendar-days text-dark"></i></p-inputgroup-addon>
                                                                                </p-inputgroup>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="d-flex justify-content-between">
                                                                        <div>
                                                                            <label for="" class="fw-bold">CVC
                                                                                Number</label>
                                                                            <p class="text-muted"> <small> Enter card
                                                                                    verification code from the back of
                                                                                    the card</small></p>
                                                                        </div>
                                                                        <div class="">
                                                                            <p-password [toggleMask]="true"
                                                                                [feedback]="false" />

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="d-flex justify-content-between">
                                                                        <div>
                                                                            <label for="" class="fw-bold">Cardholder
                                                                                Name
                                                                            </label>
                                                                            <p class="text-muted"> <small> Enter
                                                                                    cardholder's name</small></p>
                                                                        </div>
                                                                        <div>
                                                                            <p-inputgroup>
                                                                                <p-inputgroup-addon><i
                                                                                        class="fa-brands fa-cc-mastercard text-dark"></i></p-inputgroup-addon>
                                                                                <p-inputnumber
                                                                                    placeholder="CardHolder Name" />
                                                                                <p-inputgroup-addon><i
                                                                                        class="fa-solid fa-user text-dark"></i></p-inputgroup-addon>
                                                                            </p-inputgroup>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="d-flex justify-content-between">
                                                                        <div>
                                                                            <label for="" class="fw-bold">Mobile
                                                                                No.</label>
                                                                            <p class="text-muted"> <small> Enter Mobile
                                                                                    No.</small></p>
                                                                        </div>
                                                                        <div>
                                                                            <p-inputgroup>
                                                                                <p-inputgroup-addon><i
                                                                                        class="fa-solid fa-mobile-screen-button text-dark"></i></p-inputgroup-addon>
                                                                                <p-inputnumber
                                                                                    placeholder="Mobile Number" />
                                                                                <p-inputgroup-addon><i
                                                                                        class="fa-solid fa-phone-flip text-dark"></i></p-inputgroup-addon>
                                                                            </p-inputgroup>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class=" text-center mt-5">
                                                                        <!-- <p-button label="Pay Now" severity="info"
                                                                            class="mx-5 " /> -->
                                                                            <button class="p-button p-button-primary w-full">Pay Now</button>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-5">
                                                               <div class="bg-light rounded-4 p-5">
                                                                     <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="text-center">
                                                                                <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/debit-card-2133848-1796833.png?f=webp&w=256" alt="Debit card image" class="h-5- w-50">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="d-flex justify-content-between mx-5">
                                                                                <p>Company</p>
                                                                                <strong>Apple</strong>
                                                    
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="d-flex justify-content-between mx-5">
                                                                                <p>Order number</p>
                                                                                <strong>429252965</strong>
                                                    
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="d-flex justify-content-between mx-5">
                                                                                <p>Product</p>
                                                                                <strong>MacBook Air</strong>
                                                    
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="d-flex justify-content-between mx-5">
                                                                                <p>VAT (20%)</p>
                                                                                <strong>$100.00</strong>
                                                    
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <hr class="border border-dark border-2 opacity-50">
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="d-flex justify-content-between mx-5">
                                                                                <small>You have to Pay</small>
                                                                                <h3 class="fw-bold">Rs.549</h3>
                                                                            </div>

                                                                        </div>
                                                                        
                                                                     </div>
                                                               </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex pt-6 justify-start">
                                        <p-button label="Back" icon="pi pi-arrow-left" iconPos="right"
                                            (onClick)="activateCallback(2)" />
                                    </div>
                                </ng-template>
                            </p-step-panel>
                        </p-step-panels>
                    </p-stepper>
                </div>
            </div>
        </div>
    </div>
</div>








<!-- 
<div class="card m-5 shadow border-0 p-3">
    <p-stepper [value]="1">
        <p-step-item [value]="1">
            <p-step>Header I</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <form action="">
                        <div class=" flex flex-col row h-48 ">
                            <div class="col-4">
                                <div>
                                    <label for="propertyType" class="my-2">Property Type </label>
                                    <p-select [options]="propertyType"
                                        [checkmark]="true" [showClear]="true" placeholder="Select a Property Type"
                                        class="w-full md:w-56" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div>
                                    <label for="identificationnumber" class="my-2">Identification Number </label>
                                    <input pInputText id="identificationnumber" class="w-100" />
                                </div>
                            </div>
                            <div class="col-4">
                                  <div>
                                    <label for="totalarea" class="my-2">Total Area (sq. ft./sq. m.) </label>
                                    <input pInputText id="totalarea" class="w-100"/>
                                  </div>
                            </div>
                            <div class="col-4">
                                <div>
                                    <label for="price" class="my-2">Property Value (INR) </label>
                                    <input pInputText id="price" class="w-100"/>
                                </div>
                            </div>
                            <div class="col-4">
                                <div>
                                    <label for="ownershipType" class="my-2">Ownership Type  </label>
                                    <p-select [options]="ownerShipType"
                                    [checkmark]="true" [showClear]="true" placeholder="Select a Ownership Type"
                                    class="w-full md:w-56" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div>
                                    <label for="propertyAddress" class="my-2">Property Address </label>
                                    <textarea rows="5" cols="30" pTextarea [autoResize]="true" class="w-100"></textarea>
                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="py-6">
                            <p-button label="Next" (onClick)="activateCallback(2)" />
                        </div>
                    </form>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]="2">
            <p-step>Header II</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-48">
                        <div
                            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                            Content II
                        </div>
                    </div>
                    <div class="flex py-6 gap-2">
                        <p-button label="Back" severity="secondary" (onClick)="activateCallback(1)" />
                        <p-button label="Next" (onClick)="activateCallback(3)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]="3">
            <p-step>Header III</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-48">
                        <div
                            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                            Content III
                        </div>
                    </div>
                    <div class="py-6">
                        <p-button label="Back" severity="secondary" (onClick)="activateCallback(2)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>
    </p-stepper>
</div> -->