<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="pt-3">
            <div class="card d-flex justify-content-center  shadow border-0 p-3">
                <p-stepper [value]="1" class="basis-[50rem]">
                    <p-step-list>
                        <p-step [value]="1">Property Details</p-step>
                        <p-step [value]="2">Document Uploads</p-step>
                        <p-step [value]="3">Registration Fee </p-step>
                    </p-step-list>
                    <p-step-panels>
                        <p-step-panel [value]="1">
                            <ng-template #content let-activateCallback="activateCallback">
                                <form action="">
                                    <div class="row ">
                                        <div class="col-4">
                                            <div>
                                                <label for="propertyType" class="my-2">Property Type </label>
                                                <p-select [options]="propertyType" [checkmark]="true" [showClear]="true"
                                                    placeholder="Select a Property Type" class="w-full md:w-56" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="propertyType" class="my-2">Property Type </label>
                                                <p-select [options]="propertyType" [checkmark]="true" [showClear]="true"
                                                    placeholder="Select a Property Type" class="w-full md:w-56" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="propertyType" class="my-2">Property Type </label>
                                                <p-select [options]="propertyType" [checkmark]="true" [showClear]="true"
                                                    placeholder="Select a Property Type" class="w-full md:w-56" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="propertyType" class="my-2">Property Type </label>
                                                <p-select [options]="propertyType" [checkmark]="true" [showClear]="true"
                                                    placeholder="Select a Property Type" class="w-full md:w-56" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="identificationnumber" class="my-2">Identification Number
                                                </label>
                                                <input pInputText id="identificationnumber" class="w-100" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="totalarea" class="my-2">Total Area (sq. ft./sq. m.) </label>
                                                <input pInputText id="totalarea" class="w-100" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="price" class="my-2">Property Value (INR) </label>
                                                <input pInputText id="price" class="w-100" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="ownershipType" class="my-2">Ownership Type </label>
                                                <p-select [options]="ownerShipType" [checkmark]="true"
                                                    [showClear]="true" placeholder="Select a Ownership Type"
                                                    class="w-full md:w-56" />
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div>
                                                <label for="propertyAddress" class="my-2">Property Address </label>
                                                <textarea rows="5" cols="30" pTextarea [autoResize]="true"
                                                    class="w-100"></textarea>

                                            </div>
                                        </div>

                                        <div class="flex   justify-content-end">
                                            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                                (onClick)="activateCallback(2)" />
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                        </p-step-panel>

                        <p-step-panel [value]="2">
                            <ng-template #content let-activateCallback="activateCallback">
                                <form action="">
                                    <div class="row ">
                                        <div class="col-4">
                                            <div>
                                                <label for="propertyType" class="my-2">Property Deed </label>
                                                <p-toast />
                                                <p-fileupload
                                                    #fu
                                                    mode="basic"
                                                    chooseLabel="Choose"
                                                    chooseIcon="pi pi-upload"
                                                    name="demo[]"
                                                    url="https://www.primefaces.org/cdn/api/upload.php"
                                                    accept="image/*"
                                                    maxFileSize="1000000"
                                                    (onUpload)="onUpload($event)"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="propertyType" class="my-2">Previous Sale Agreement (if applicable) </label>
                                                <p-fileupload
                                                #fu
                                                mode="basic"
                                                chooseLabel="Choose"
                                                chooseIcon="pi pi-upload"
                                                name="demo[]"
                                                url="https://www.primefaces.org/cdn/api/upload.php"
                                                accept="image/*"
                                                maxFileSize="1000000"
                                                (onUpload)="onUpload($event)"
                                            />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="propertyType" class="my-2">Tax Receipts (last 3 years) </label>
                                                <p-fileupload
                                                #fu
                                                mode="basic"
                                                chooseLabel="Choose"
                                                chooseIcon="pi pi-upload"
                                                name="demo[]"
                                                url="https://www.primefaces.org/cdn/api/upload.php"
                                                accept="image/*"
                                                maxFileSize="1000000"
                                                (onUpload)="onUpload($event)"
                                            />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="propertyType" class="my-2">Encumbrance Certificate </label>
                                                <p-fileupload
                                                #fu
                                                mode="basic"
                                                chooseLabel="Choose"
                                                chooseIcon="pi pi-upload"
                                                name="demo[]"
                                                url="https://www.primefaces.org/cdn/api/upload.php"
                                                accept="image/*"
                                                maxFileSize="1000000"
                                                (onUpload)="onUpload($event)"
                                            />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="identificationnumber" class="my-2">Address Proof
                                                </label>
                                                <p-fileupload
                                                #fu
                                                mode="basic"
                                                chooseLabel="Choose"
                                                chooseIcon="pi pi-upload"
                                                name="demo[]"
                                                url="https://www.primefaces.org/cdn/api/upload.php"
                                                accept="image/*"
                                                maxFileSize="1000000"
                                                (onUpload)="onUpload($event)"
                                            />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="totalarea" class="my-2"> NOC (if required) </label>
                                                <p-fileupload
                                                #fu
                                                mode="basic"
                                                chooseLabel="Choose"
                                                chooseIcon="pi pi-upload"
                                                name="demo[]"
                                                url="https://www.primefaces.org/cdn/api/upload.php"
                                                accept="image/*"
                                                maxFileSize="1000000"
                                                (onUpload)="onUpload($event)"
                                            />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="ownershipType" class="my-2"> Identity Type  </label>
                                                <p-select [options]="identityType" [checkmark]="true"
                                                    [showClear]="true" placeholder="Select a Identity Type"
                                                    class="w-full md:w-56" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <label for="identity" class="my-2"> Identity Proof </label>
                                                <p-fileupload
                                                #fu
                                                mode="basic"
                                                chooseLabel="Choose"
                                                chooseIcon="pi pi-upload"
                                                name="demo[]"
                                                url="https://www.primefaces.org/cdn/api/upload.php"
                                                accept="image/*"
                                                maxFileSize="1000000"
                                                (onUpload)="onUpload($event)"
                                            />
                                            </div>
                                        </div>
                                        
                                    </div>
                                </form>
                            
                                <div class="flex pt-6 justify-content-end">
                                    <p-button label="Back" severity="secondary" icon="pi pi-arrow-left"
                                        (onClick)="activateCallback(1)" />
                                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                        (onClick)="activateCallback(3)" />
                                </div>
                            </ng-template>
                        </p-step-panel>

                        <p-step-panel [value]="3">
                            <ng-template #content let-activateCallback="activateCallback">
                                <div class="flex flex-col h-48">
                                    <div
                                        class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                                        Content III
                                    </div>
                                </div>
                                <div class="flex pt-6 justify-start">
                                    <p-button label="Back" icon="pi pi-arrow-left" iconPos="right"
                                        (onClick)="activateCallback(2)" />
                                </div>
                            </ng-template>
                        </p-step-panel>
                    </p-step-panels>
                </p-stepper>
            </div>
        </div>
        </div>
    </div>
</div>








<!-- 
<div class="card m-5 shadow border-0 p-3">
    <p-stepper [value]="1">
        <p-step-item [value]="1">
            <p-step>Header I</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <form action="">
                        <div class=" flex flex-col row h-48 ">
                            <div class="col-4">
                                <div>
                                    <label for="propertyType" class="my-2">Property Type </label>
                                    <p-select [options]="propertyType"
                                        [checkmark]="true" [showClear]="true" placeholder="Select a Property Type"
                                        class="w-full md:w-56" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div>
                                    <label for="identificationnumber" class="my-2">Identification Number </label>
                                    <input pInputText id="identificationnumber" class="w-100" />
                                </div>
                            </div>
                            <div class="col-4">
                                  <div>
                                    <label for="totalarea" class="my-2">Total Area (sq. ft./sq. m.) </label>
                                    <input pInputText id="totalarea" class="w-100"/>
                                  </div>
                            </div>
                            <div class="col-4">
                                <div>
                                    <label for="price" class="my-2">Property Value (INR) </label>
                                    <input pInputText id="price" class="w-100"/>
                                </div>
                            </div>
                            <div class="col-4">
                                <div>
                                    <label for="ownershipType" class="my-2">Ownership Type  </label>
                                    <p-select [options]="ownerShipType"
                                    [checkmark]="true" [showClear]="true" placeholder="Select a Ownership Type"
                                    class="w-full md:w-56" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div>
                                    <label for="propertyAddress" class="my-2">Property Address </label>
                                    <textarea rows="5" cols="30" pTextarea [autoResize]="true" class="w-100"></textarea>
                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="py-6">
                            <p-button label="Next" (onClick)="activateCallback(2)" />
                        </div>
                    </form>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]="2">
            <p-step>Header II</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-48">
                        <div
                            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                            Content II
                        </div>
                    </div>
                    <div class="flex py-6 gap-2">
                        <p-button label="Back" severity="secondary" (onClick)="activateCallback(1)" />
                        <p-button label="Next" (onClick)="activateCallback(3)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]="3">
            <p-step>Header III</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-48">
                        <div
                            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                            Content III
                        </div>
                    </div>
                    <div class="py-6">
                        <p-button label="Back" severity="secondary" (onClick)="activateCallback(2)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>
    </p-stepper>
</div> -->